<div class="container mt-5 in-index">
    <div class="row">
        <div class="col">
            <h1>Daftar Bug Reports </h1>
            <% if (BugReportData.length === 0) { %>
              <div class="alert alert-danger fw-bold" role="alert">
                Data Bug Reports tidak ada
              </div>
            <% } %>
            <table class="table table-hover table-striped">
                <thead>
                    <th>#</th>
                    <!-- Order By: Nama -->
                    <th>Nama 
                        <form  method="post" action="/sort">
                            <input type="hidden" name="order" value="descending">
                            <input type="hidden" name="order_name" value="name">
                            <button type="submit"><div style="display: inline;"><i class="bi bi-arrow-down"></i></div></button>
                        </form>
                        <form  method="post" action="/sort">
                            <input type="hidden" name="order" value="ascending">
                            <input type="hidden" name="order_name" value="name">
                            <button type="submit"><div style="display: inline;"><i class="bi bi-arrow-up"></i></div></button>
                        </form>
                    </th>
                    <!-- Order By: Tanggal -->
                    <th>Tanggal 
                        <form  method="post" action="/sort">
                            <input type="hidden" name="order" value="descending">
                            <input type="hidden" name="order_name" value="tanggal">
                            <button type="submit"><div style="display: inline;"><i class="bi bi-arrow-down"></i></div></button>
                        </form>
                        <form  method="post" action="/sort">
                            <input type="hidden" name="order" value="ascending">
                            <input type="hidden" name="order_name" value="tanggal">
                            <button type="submit"><div style="display: inline;"><i class="bi bi-arrow-up"></i></div></button>
                        </form>
                    </th>
                    <!-- Order By: Keparahan -->
                    <th>Keparahan 
                        <form  method="post" action="/sort">
                            <input type="hidden" name="order" value="descending">
                            <input type="hidden" name="order_name" value="keparahan">
                            <button type="submit"><div style="display: inline;"><i class="bi bi-arrow-down"></i></div></button>
                        </form>
                        <form  method="post" action="/sort">
                            <input type="hidden" name="order" value="ascending">
                            <input type="hidden" name="order_name" value="keparahan">
                            <button type="submit"><div style="display: inline;"><i class="bi bi-arrow-up"></i></div></button>
                        </form>
                    </th>
                    <!-- Order By: Status -->
                    <th>Status 
                        <form  method="post" action="/sort">
                            <input type="hidden" name="order" value="descending">
                            <input type="hidden" name="order_name" value="status">
                            <button type="submit"><div style="display: inline;"><i class="bi bi-arrow-down"></i></div></button>
                        </form>
                        <form  method="post" action="/sort">
                            <input type="hidden" name="order" value="ascending">
                            <input type="hidden" name="order_name" value="status">
                            <button type="submit"><div style="display: inline;"><i class="bi bi-arrow-up"></i></div></button>
                        </form>
                    </th>
                    <th>Aksi</th>
                </thead>
                <tbody>
                    <% for( let i = 0; i < BugReportData.length; i++ ) { %>
                        <tr>
                            <td><%= i+1 %> </td>
                            <td><%= BugReportData[i].name %> </td>
                            <td><%= BugReportData[i].createdAt %> </td>
                            <td><%= BugReportData[i].severity %> </td>
                            <!-- Logic Frontend statusBug -->
                            <% if (BugReportData[i].statusBug === "Opened") { %>
                                <td><button type="button" class="btn btn-outline-success badge rounded-pill bg-success"><i class="bi bi-check-circle"></i> Opened</button></td>
                            <% } else if (BugReportData[i].statusBug === "Assigned") {  %>
                                <td><button type="button" class="btn btn-outline-warning badge rounded-pill bg-warning text-dark"><i class="bi bi-hourglass-split"></i> Assigned</button></td>
                            <% } else if (BugReportData[i].statusBug === "Closed") {  %>
                                <td><button type="button" class="btn btn-outline-danger badge rounded-pill bg-danger"><i class="bi bi-x-circle"></i> Closed</button></td>
                            <% } else { %>
                                <td>-</td>
                            <% }%>
                            <td>
                                <a href="/id/<%= BugReportData[i].ID_DocumentReport %>"><button type="button" class="btn btn-outline-primary badge rounded-pill bg-primary"><i class="bi bi-files"></i> Detail</button></a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>